[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rhythm.metrics"]
	path = rhythm.metrics
	url = https://github.com/congzhang365/rhythm.metrics
